@inject ScERPA.Services.Interfaces.ICommonServices commonServices
@model FinalityEditCreateViewModel

<div class="clearfix mt-3">
    <h1 class="float-start">@ViewData["Title"]</h1>
    <a class="btn float-end" role="button" asp-area="Administration" asp-controller="Finalities" asp-action="Index">Torna alla prima pagina della lista</a>
</div>
<br />
<hr />
<br>
<section name="dati_finalita" class="lightgrey-bg-a3 rounded shadow py-3" aria-label="dati finalità">
    <em class="px-3">I campi con * sono obbligatori</em>

    <form method="post" asp-area="Administration" asp-controller="Finalities" asp-action="Edit" class="px-3">
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
        <div class="form-group mt-3">
            <label asp-for="inputModel.Id" class="active d-none">Id*</label>
            <input asp-for="inputModel.Id" class="form-control d-none" value="@Model.inputModel.Id" aria-required="true" autocomplete="off" />
            <span asp-validation-for="inputModel.Id" class="text-danger"></span>
        </div>
        <div class="select-wrapper col-7 col-lg-5 col-xl-4 col-xxl-3 mt-5">
            <label asp-for='inputModel.AreaId' class="active">Area*</label>
            <select asp-for='inputModel.AreaId' asp-items="@Model.Aree" class="form-control" aria-required="true" onchange="GetServicesList('inputModel_AreaId','inputModel_ServizioId')" value="@Model.inputModel.AreaId" autocomplete="off">
                <option value="" selected="">...</option>
            </select>
            <span asp-validation-for="inputModel.AreaId" class="text-danger"></span>
        </div>
        <div class="select-wrapper col-10 col-lg-8 col-xl-7 col-xxl-6 mt-5">
            <label asp-for='inputModel.ServizioId' class="active">Servizio*</label>
            <select asp-for='inputModel.ServizioId' asp-items="@Model.Servizi" class="form-control" aria-required="true" value="@Model.inputModel.ServizioId" autocomplete="off">
                <option value="" selected="">...</option>
            </select>
            <span asp-validation-for="inputModel.ServizioId" class="text-danger"></span>
        </div>
        <div class="form-group mt-5">
            <label asp-for="inputModel.Nome" class="active">Nome*</label>
            <input asp-for="inputModel.Nome" class="form-control" aria-required="true" autocomplete="off" />
            <span asp-validation-for="inputModel.Nome" class="text-danger"></span>
        </div>
        <div class="form-group mt-5">
            <label asp-for="inputModel.Descrizione" class="active">Descrizione*</label>           
            <textarea rows="10" maxrows="20" asp-for="inputModel.Descrizione" class="form-control" aria-required="true" autocomplete="off">@Model.inputModel.Id</textarea>
            <span asp-validation-for="inputModel.Descrizione" class="text-danger"></span>
        </div>
        <div class="form-group col-7 col-lg-5 col-xl-4 col-xxl-3 mt-5">
            <label asp-for="inputModel.DataDal" class="active">Data dal*</label>
            <input type="date" asp-for="inputModel.DataDal" class="form-control" value="@Model.inputModel.DataDal" aria-required="true" autocomplete="off">
            <span asp-validation-for="inputModel.DataDal" class="text-danger"></span>
        </div>
        <div class="form-group col-7 col-lg-5 col-xl-4 col-xxl-3 mt-5">
            <label asp-for="inputModel.DataAl" class="active">Data Al</label>
            <input type="date" asp-for="inputModel.DataAl" class="form-control" value="@Model.inputModel.DataAl" autocomplete="off">
            <span asp-validation-for="inputModel.DataAl" class="text-danger"></span>
        </div>
        <div class="form-group mt-5">
            <label asp-for="inputModel.MaxChiamate" class="input-number-label active">Numero massimo di chiamate (al giorno)*</label>
            <div class="input-group input-number input-number-adaptive">
                <input type="number" asp-for="inputModel.MaxChiamate" class="form-control" data-bs-input step="any" aria-required="true" value="@Model.inputModel.MaxChiamate" autocomplete="off" />
                <span class="input-group-text align-buttons flex-column">
                    <button class="input-number-add">
                        <span class="visually-hidden">Aumenta limite chiamate</span>
                    </button>
                    <button class="input-number-sub">
                        <span class="visually-hidden">Diminuisci limite chiamate</span>
                    </button>
                </span>
            </div>
            <span asp-validation-for="inputModel.MaxChiamate" class="text-danger"></span>
        </div>
        <div class="form-group col-11 col-lg-6 col-xl-5 col-xxl-4 mt-5">
            <label asp-for="inputModel.PurpouseCod" class="active">Purpouse ID</label>            
            <input asp-for="inputModel.PurpouseCod" class="form-control" aria-required="true" value="@Model.inputModel.PurpouseCod" autocomplete="off" aria-describedby="inputModel_PurpouseCod-help" />
            <small id="inputModel_PurpouseCod-help" class="form-text">Il purpouseId è fornito dal sistema PDND in formato UUID</small><br />
            <span asp-validation-for="inputModel.PurpouseCod" class="text-danger"></span>
        </div>
        <div class="form-group mt-5">
            <button type="submit" class="btn btn-primary">Salva</button>
        </div>
     </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="/js/FinalityUtilities.js"></script>
}


