@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject ScERPA.Services.Interfaces.ICommonServices commonServices
@using ScERPA.ViewModels
@model AccertamentoStatoDiFamigliaViewModel
<partial name="_Esito" />
<br>
<h1>@ViewData["Title"]</h1>
<br />
<hr />
<br>

    @if (Model.risultati is not null && ViewData.ModelState.IsValid)
{
    <h2 id="lblRisultatiRicerca">Risultati della ricerca</h2>
    <br>
    <div class="px-3 mt-2">
        @if (!string.IsNullOrEmpty(Model.AccertamentoMultiplo.Pdf))
        {
            <a class="btn btn-outline-primary" role="button" download='@($"{Model.AccertamentoMultiplo.Servizio}_{@DateTime.Now.ToString("dd_MM_yyyy")}")' href="data:application/pdf;base64,@Model.AccertamentoMultiplo.Pdf">
                <span>Esporta in pdf</span>
                <svg class="icon icon-primary ms-1" aria-hidden="true">
                    <use xlink:href='@(commonServices.SpritesPath+"/sprites.svg#it-download")' href='@(commonServices.SpritesPath+"/sprites.svg#it-download")'></use>
                </svg>
            </a>
        }
        @if (!string.IsNullOrEmpty(Model.AccertamentoMultiplo.Xlsx))
        {
            <a class="btn btn-outline-primary" role="button" download='@($"{Model.AccertamentoMultiplo.Servizio}_{@DateTime.Now.ToString("dd_MM_yyyy")}")' href="data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,@Model.AccertamentoMultiplo.Xlsx">
                <span>Esporta in Excel</span>
                <svg class="icon icon-primary ms-1" aria-hidden="true">
                    <use xlink:href='@(commonServices.SpritesPath+"/sprites.svg#it-download")' href='@(commonServices.SpritesPath+"/sprites.svg#it-download")'></use>
                </svg>
            </a>
        }
    </div>
    <br>
        <section name="risultatiricerca" aria-labelledby="lblRisultatiRicerca" tabindex="0">
        <br>
        @if (Model.risultati.Count > 0)
        {
            <div class="table-responsive">
            @foreach (RisultatoAccertamentoStatoDiFamigliaViewModel soggetto in Model.risultati)
            {
                <article role="contentinfo" tabindex="0">
                    <header >
                        <table class="table table-striped table-hover rounded shadow" aria-label="Risultato della ricerca di @soggetto.CodiceFiscale">
                            <thead>
                                <tr>
                                    <th scope="col">Codice Fiscale Controllato</th>
                                    <th scope="col">Nota</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@soggetto.CodiceFiscale</td>
                                    <td>@soggetto.Errore</td>
                                </tr>
                            </tbody>
                        </table>
                    </header>
                        <table class="table table-striped table-hover rounded shadow" aria-label="Stato di famiglia di @soggetto.CodiceFiscale">
                        <thead>
                            <tr>
                                <th scope="col">Codice Fiscale componente</th>
                                <th scope="col">Tipo parentela/convivenza</th>
                                <th scope="col">Data relazione parentela</th>
                                <th scope="col">Cognome</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Data di nascita</th>
                                <th scope="col">Sesso</th>
                                <th scope="col">Nazione</th>
                                <th scope="col">Provincia</th>
                                <th scope="col">Località</th>
                                <th scope="col">Codice Istat Località</th>
                            </tr>
                        </thead>
                        <tbody>                                    
                            @foreach(var componente in soggetto.Componenti)
                            {
                                <tr>
                                    @if(componente.Generalita.CodiceFiscale==soggetto.CodiceFiscale)
                                    {
                                        <td aria-label="codice fiscale soggetto cercato"><strong class="text-success">@componente.Generalita.CodiceFiscale</strong></td>
                                        <td><strong class="text-success">@componente.DescrizioneParentelaConvivenza</strong></td>
                                        <td><strong class="text-success">@componente.DataDecorrenzaRelazioneParentela</strong></td>
                                        <td><strong class="text-success">@componente.Generalita.Cognome</strong></td>
                                        <td><strong class="text-success">@componente.Generalita.Nome</strong></td>
                                        <td><strong class="text-success">@componente.Generalita.DataNascita</strong></td>
                                        <td><strong class="text-success">@componente.Generalita.Sesso</strong></td>
                                        <td><strong class="text-success">@componente.Generalita.Nazione</strong></td>
                                        <td><strong class="text-success">@componente.Generalita.Provincia</strong></td>
                                        <td><strong class="text-success">@componente.Generalita.Localita</strong></td>
                                        <td><strong class="text-success">@componente.Generalita.CodIstatComune</strong></td>
                                    } else
                                    {
                                        <td>@componente.Generalita.CodiceFiscale</td>
                                        <td>@componente.DescrizioneParentelaConvivenza</td>
                                        <td>@componente.DataDecorrenzaRelazioneParentela</td>
                                        <td>@componente.Generalita.Cognome</td>
                                        <td>@componente.Generalita.Nome</td>
                                        <td>@componente.Generalita.DataNascita</td>
                                        <td>@componente.Generalita.Sesso</td>
                                        <td>@componente.Generalita.Nazione</td>
                                        <td>@componente.Generalita.Provincia</td>
                                        <td>@componente.Generalita.Localita</td>
                                        <td>@componente.Generalita.CodIstatComune</td>
                                    }
                                </tr>
                            }               
                        </tbody>
                    </table>
                </article>
            }
            </div>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                <p>Nessun risultato</p>
            </div>
        }
    </section>
    <br>
    <hr />
    <br>
}
<partial name="_AccertamentoMultiplo" model="@Model.AccertamentoMultiplo">
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Spinner.js" ></script>
}